.sidebar {
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-main);
  transition: transform 0.5s ease;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sidebar__links {
  margin-top: 40px;
}

.sidebar__link {
  color: var(--main-medium);
  padding: 15px 10px;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--main-medium);
  width: 100%;
  height: 100%;
  display: inline-block;
}

.sidebar__link:hover {
  color: var(--main-light);
  border-bottom: 1px solid var(--main-light);
}

.sidebar__link.active {
  color: var(--main-light);
  border-bottom: 1px solid var(--main-light);
}

.sidebar__close {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: transparent;
  border: 1px solid var(--main-dark);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--main-medium);
  font-size: 20px;
  outline: none;
}

.sidebar__close:hover {
  background-color: var(--main-medium);
  color: var(--main-dark);
}