.container {
  padding: 0 4%;
}

@media(min-width: 600px) {
  .container {
    padding: 0 2%;
  }
}

@media(min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}