.error404 {
  padding: 40px 0;
  max-width: 450px;
  margin: 0 auto;
}

.error404__image {
  display: none;
}

.error404-content__title {
  font-size: 80px;
  text-align: center;
  letter-spacing: 1rem;
}

.error404-content__description {
  margin-top: 30px;
  font-size: 1.6rem;
}

@media(min-width: 600px) {
  .error404 {
    max-width: none;
    margin: 0;
  }

  .error404__container {
    display: flex;
  }

  .error404__image {
    display: block;
  }

  .error404-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .error404-content__title {
    font-size: 100px;
  }

  .error404-content__description {
    margin: 40px auto;
    text-align: center;
  }
}

@media(min-width: 900px) {
  .error404 {
    max-width: 950px;
    margin: 0 auto;
  }

  .error404-content__title {
    font-size: 140px;
  }

  .error404-content__description {
    max-width: 60%;
    font-size: 2rem;
  }
}