.search-result {
  margin-bottom: 30px;
}

.search-result__poster {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg") 
    no-repeat center / contain;
}

.search-result__poster-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.result-description__title {
  font-weight: 500;
  color: var(--main-medium);
}

.result-description__rating {
  margin-top: 10px;
}

.result-rating__icon {
  color: var(--yellow);
  margin-right: 5px;
}

.result-description__release {
  margin-top: 15px;
  font-weight: 400;
  color: var(--light-gray);
}

.result-description__overview--desktop {
  display: none;
}

.result-description__overview--mobile {
  margin-top: 10px;
}

@media(min-width: 600px) {
  .search-result {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .result-description__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result-description__rating {
    margin-top: 0;
  }

  .result-description__title {
    font-size: 1.8rem;
  }

  .result-description__overview--desktop {
    display: block;
    margin-top: 10px;
  }
}

@media(min-width: 900px) {
  .search-result {
    max-width: 950px;
  }

  .search-result__description {
    padding: 10px 15px;
  }
  
  .search-result__poster-image {
    height: 100%;
    width: 100%;
    border-radius: 0 0 0 4px;
  }

  .result-description__title {
    font-size: 2rem;
  }

  .result-description__overview-text {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}