.movie-card {
  width: 100%;
  background-color: var(--white);
  color: var(--background-main);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
}

.movie-card:last-of-type {
  margin-bottom: 0;
}

.movie-card__wrapper {
  display: flex;
}

.movie-card__poster {
  background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg") 
    no-repeat center / contain;
  flex: 0 0 70px;
  width: 70px;
  height: 110px;
  margin-right: 15px;
  overflow: hidden;
}

.movie-card__poster-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.saved-movie__poster {
  background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg") 
    no-repeat center / contain;
  flex: 0 0 70px;
  width: 70px;
  height: 110px;
  margin-right: 15px;
  overflow: hidden;
}

.saved-movie__poster-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
}

.movie-card__description {
  width: 100%;
}

.card-description__title {
  font-weight: 500;
  color: var(--main-medium);
}

.card-description__rating {
  margin-top: 10px;
}

.card-rating__icon {
  color: var(--yellow);
  margin-right: 5px;
}

.card-description__release {
  margin-top: 15px;
  font-weight: 400;
  color: var(--light-gray);
}

.card-description__overview--desktop {
  display: none;
}

.card-description__overview--mobile {
  margin-top: 10px;
}

.controls-desktop{
  display: none;
}

@media(min-width: 600px) {
  .movie-card {
    font-size: 1.4rem;
    padding: 15px;
  }

  .movie-card__poster {
    flex: 1 0 92px;
    width: auto;
    height: auto;
  }

  .saved-movie__poster {
    flex: 0 0 92px;
    width: 92px;
    height: 138px;
  }

  .movie-description__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-description__title {
    font-size: 1.8rem;
  }

  .card-description__overview--desktop {
    display: block;
    margin-top: 10px;
  }

  .card-description__rating {
    margin-top: 0;
  }

  .card-description__overview--mobile {
    display: none;
  }
}

@media(min-width: 900px) {
  .movie-card {
    padding: 0;
    border-radius: 13px 10px 10px 13px;
  }

  .card-description {
    padding: 10px 15px;
  }

  .saved-movie__poster {
    flex: 0 0 154px;
    width: 154px;
    height: 231px;
    border-radius: 10px 0 0 10px;
  }

  .movie-card__poster-image {
    height: 100%;
    width: 100%;
    border-radius: 0 0 0 4px;
  }

  .movie-card__description {
    flex: 1 1 auto;
  }

  .movie-card__poster {
    border-radius: 10px 0 0 10px;
    margin-right: 0;
  }

  .card-description__title {
    font-size: 2rem;
  }

  .card-description__overview-text {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .controls-desktop {
    display: block;
  }

  .controls-mobile {
    display: none;
  }
}