
@media(min-width: 600px) {
  .controls-item {
    font-size: 1.6rem;
  }

  .controls-item__icon {
    font-size: 1.8rem;
  }
}

@media(min-width: 900px) {
  .controls-item {
    font-size: 1.8rem;
  }

  .controls-item__icon {
    font-size: 2rem;
  }
}