*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --background-main: #272532;
  --main-dark:#474c88;
  --main-medium: #708ED2;
  --main-light: #83CFDF;
  --white:#EBE5E2;
  --light-gray: rgba(0,0,0,0.6);
}

html, 
body,
#root,
.app {
  height: 100%;
}

html {
  font-size: 62.5%;
}