*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word;
}

:root {
  --background-main: #272532;
  --background-second: #373b69;
  --background-darkest: #1d1c26;
  --main-dark:#474c88;
  --main-medium: #8d9dff;
  --main-light: #83CFDF;
  --secondary-light: #b7e3ec;
  --white:#fafbff;
  --light-gray: rgba(0,0,0,0.5);
  --light-white: rgba(255,255,255,0.7);
  --black: #000;
  --light-blue: #eef0fd;
  --yellow: #ffca11
}

html, 
#root,
.app {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--white);
  height: 100%;
  overflow: auto;
}

body.open {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
}